nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
}

nav a:hover {
    color: gray;
}

.active {
    background-color: black;
    color: white;
}