.App {
  text-align: center;
}

.add-product {
  border-top: 1px solid black;
  margin-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  /* justify-content: center; */
}

form input {
  /* display: flex;
  flex-direction: column; */
  margin-bottom: 15px;
}

.removeButton {
  margin-left: 20px;
  margin-bottom: 5px;
}